<h1>Blog Noob</h1>
<h2>Aqui você encontra vários posts de noobs de todo o planeta!</h2>
<p>Confira abaixo </p>
<% @posts.each do |post| %>
    <h2> <%= link_to post.titlle, post %> </h2>
<% end %>

<%= link_to "Posts", posts_path%>
