/*.background-image {
    background-image: url('/assets/app_noob.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.2; 
  }
    */