body {
    background: linear-gradient(45deg, #636ceb, #7c7c7c);
    text-align: center; 
  }
h1, h2 {
    color: black;
}
h3 {
  color: red;
}
a {
    color: #ffffff; 
    text-decoration: none; 
  }
  
  a:hover {
    color: #ffdd57;
    text-decoration: underline; 
  }

  .custom-button {
    background-color: #5aad6c; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
  }

  
  
  
  